    body {
        background-color: rgba(240, 128, 128, 0.834);
    }
    
    img {
        width: 200px;
        border-radius: 50px;
        height: 300px;
    }
    
    p {
        color: green;
    }
    /*class selector*/
    
    .first_para {
        color: brown;
    }
    
    .red_apple {
        background-color: green;
    }
    
    .green_apple {
        background-color: red;
    }
    /*ID SELECTOR*/
    
    #special {
        font-weight: bold;
        color: goldenrod;
        background-color: black;
    }
    /* grouping the selector*/
    
    .ekGroup,
    h1 {
        font-weight: bold;
        color: rgb(red, green, blue);
        background-color: red;
    }
    /* pseudo selector*/
    
    .apple {
        color: brown
    }
    
    .apple:hover {
        background-color: red;
        color: darkgreen;
        font: bold;
    }
    /* playing with div and display*/
    
    .firstbox {
        background-color: blueviolet;
        height: 100px;
        width: 100px;
    }
    
    .secondbox {
        background-color: red;
        height: 100px;
        width: 100px;
        margin-left: 20px;
        margin-top: -50px;
    }
    
    .thirdbox {
        background-color: rgb(43, 147, 226);
        height: 100px;
        width: 100px;
        margin-top: -50px;
        margin-left: 50px;
    }
    
    .red_apple {
        margin-top: 40px;
        position: sticky;
        top: 40px;
    }